.wrapper {
  width: 100%;
  margin-top: 20px;

  .content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .left {
      .avatar {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .right {
      max-width: 475px;
      .top {
        display: flex;
        justify-content: space-between;
      }
      .top_left {
        display: flex;
        gap: 10px;
        text-align: left;
        p {
          font-weight: 700;
          margin: 0;
        }
        span {
          color: #cac6c2;
        }
      }
      svg {
        height: 24px;
        width: 24px;
        cursor: pointer;
        fill: #cac6c2;
        &:hover {
          fill: #e6399b;
        }
      }
    }
    .comment {
      text-align: left;
      font-size: 17px;
      margin: 20px 0;
      word-wrap: break-word;
      white-space: pre-line;
    }
  }
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 100%;
  opacity: 0.4;
}
