.user_wrapper {
  .user {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      margin: 10px 0;
    }
    .left {
      display: inline-flex;
      gap: 20px;
      align-items: center;
      .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        @media (max-width: 768px) {
          width: 50px;
          height: 50px;
        }
        @media (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
      .name {
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    .right {
      display: inline-flex;
      align-items: center;
      gap: 20px;
      //max-width: 164px;
      button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        @media (max-width: 768px) {
          font-size: 15px;
          font-weight: 400;
        }
        &:hover {
          border-bottom: 1px solid #e6399b;
          color: #e6399b;
        }
      }
      .delete {
        color: #e6399b;
      }
      .add {
        color: #777;
      }
      svg {
        width: 28px;
        height: 28px;

        padding: 7px;
        border-radius: 50%;
        &:hover {
          background-color: #fbe1ec;
          fill: #e6399b;
          cursor: pointer;
          transition: 0.5s;
        }
      }
      .add_icon {
        fill: #777;
      }
      .cancel_icon {
        color: #777;
      }
      .delete_icon {
        fill: rgba($color: #e6399b, $alpha: 1);
      }
    }
  }
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  //margin-bottom: 20px;
}
