.container {
  max-width: 660px;
  margin: 40px auto 80px;
  padding: 20px;
  align-items: center;

  .actions {
    width: auto;
    padding: 70px 0 0;
    border-radius: 10px;
    //box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    @media (max-width: 768px) {
      padding: 50px 0 0;
    }
    @media (max-width: 576px) {
      padding: 40px 0 0;
    }

    //&:hover {
    //  transition: 0.5s;
    //  box-shadow: 0px 0px 50px rgba($color: #e6399b, $alpha: 0.3);
    //}
    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;

      span {
        width: 100px;
        color: #999;
        font-weight: 600;
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      .info {
        margin: 0;
        font-size: 17px;
        color: #777;
        width: 200px;
        color: #e6399b;
        font-weight: 600;
        @media (max-width: 576px) {
          font-size: 15px;
        }
      }
      .edit {
        color: #000;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        text-align: end;
        svg {
          width: 26px;
          height: 26px;
          @media (max-width: 576px) {
            width: 22px;
            height: 22px;
          }
        }
        &:hover {
          cursor: pointer;
          transition: 0.4s;
          color: #e6399b;
        }
      }
    }
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
  }
  .button {
    width: 380px;
    padding: 20px 20px;
    margin: 50px auto;

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

    border: none;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
      transition: 0.4s;
      background-color: #222;
      //box-shadow: 0px 0px 50px rgba($color: #e6399b, $alpha: 0.3);
      //color: #e6399b;
    }
  }
}

.bottom_line {
  width: 88%;
  margin: 5px auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal_content {
  display: flex;
  justify-content: center;
  text-align: center;
  .label {
    font-family: "Source Code Pro", monospace;
    margin-top: 50px;
    padding: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #cac6c2;
  }
  .password_fields {
    margin-top: 20px;
  }
  .input_wrapper {
    position: relative;

    input {
      margin: 16px;
      outline: none;
      padding: 10px 20px;
      font-size: 20px;
      border: none;
      border: 1px solid #cac6c2;

      border-radius: 5px;
      background-color: inherit;
    }
    .show_hide_password {
      width: 25px;
      height: 25px;
      position: absolute;
      top: 27px;
      right: 25px;
      cursor: pointer;
      path,
      circle,
      line {
        stroke: #aaa;
        transition: 0.5s;
      }
      &:hover {
        path,
        circle,
        line {
          transition: 0.5s;
          stroke: #e6399b;
        }
      }
    }
  }

  .error {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 48px;
    left: 20px;
    color: #e6399b;
  }
  button {
    margin: 20px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
      background-color: #222;
    }
  }
}
