.friend {
  max-width: 121px;
  overflow: hidden;
  text-overflow: clip;
  padding: 10px 0 10px;
  border-radius: 18px;

  &:hover {
    cursor: pointer;

    p {
      transition: 0.3s;
      color: #fba4c9;
    }
  }
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  p {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
  }
}
